.displayErrors input:invalid {
  border-color: red;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background: #faeeae;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ContMapa {
  background: #9B0000;
  width: 80%;
  height: 500px;
}

.Mapa1 {
  width: 100%;
  height: 100%;
}

.SelectRuta {
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
}

.BotonRuta {
  border-radius: 30px;
  padding: 5px 20px;
  margin: 10px;
}

.Encabezado {
  background: tomato;
  height: 300px;
}